@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@1,600&family=Mukta:wght@500&display=swap');



.App {
  font-family: 'Mukta', sans-serif;
  text-align: center;
}

/* Styling for links with link class */
.link {
  text-decoration: none;
  color: black;
}

/*Landing*/

.landing{
  text-align: center;
  font-size: 30px;
  color: purple;
}


