
.recipe-list-page {
    text-align: left;
    width: 80vw;
    margin-left: 10vw;
    background-color: #E6F4F1;
    color: #00364A;
}

.recipe-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.recipe-list-item {
    width: 80vw;
    border-top: 2px solid #A04100;
    background-color: #E6F4F1;
    color: #00364A;
}

.recipe-list-item-title {
    font-size: 30px;

}

.recipe-list-item-user {
    font-size: 12px;
    margin-top: -10px;
    margin-left: 5px

}

